* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.services-section{
    margin-bottom: 100px;
    
   height: 1120px;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.services-container p{
    width: 720px;
    text-align: center;
    color: #6D6D6D;
    font-size: 14px;
}

.services-container h1{
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}





.ServiceIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    background-color: #DD3142;
}

.ServiceCardBox{
    margin-top: 100px;
    gap: 50px;
    height: 874px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ServiceCard{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}